<!DOCTYPE html>
<html>

<head>
	<title>Web-Bot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/web_bot_style.css" type="text/css" />
	<link rel="stylesheet" href="../static/web_bot_style.css" type="text/css" />

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
	<div id="grid_div" style="display: grid;">

		<div class="boxed_header" style="grid-area: title; margin-bottom: 20px; display: grid; grid-template-columns: auto 74px; grid-template-areas: 'a1 a2' 'a1 a2' ;">
			<h1 id="header" align="center" style="margin-bottom: 0px; margin-top: 0px; grid-area: a1;"><b></b>
				<img style="vertical-align: middle;" src="../static/Avatar_08_Kopf_Weiss_63.png" alt="Bot-Icon"
					width="110" height="105">
			</h1>
			<div id="locale-switcher" style="grid-area: a2; margin: 6px 0 0 0; display: flex; margin-bottom: 4px;">
				<img id="de-local-flag" class="flag-img" alt="DE" src="../static/de.svg" width="33" height="22">
				<img id="gb-local-flag" class="flag-img" alt="EN" src="../static/gb.svg" width="33" height="22">
			</div>
		</div>

		<main style="grid-area: main;">
			<div id="chatbox">
				<p class="botText">
					<span id="intro-text">
					</span>

					<button id="thumbsUpButton" class="hiddenElement feedbackButton"
						onClick="(function(){sendFeedback(1,-1);})();"
						style="vertical-align: top; margin: 0 2px 0 2px;">
						<img src="../static/thumbs_up.png" alt="Daumen hoch" width="22" height="22">
					</button>
					<button id="thumbsNeutralButton" class="hiddenElement feedbackButton"
						onClick="(function(){sendFeedback(0,-1);})();"
						style="vertical-align: top; margin: 0 2px 0 0;">
						<img src="../static/thumbs_up.png" alt="Daumen neutral" width="22" height="22"
							style="transform: rotate(270deg);">
					</button>
					<button id="thumbsDownButton" class="hiddenElement feedbackButton"
						onClick="(function(){sendFeedback(-1,-1);})();" style="vertical-align: top; margin: 0;">
						<img src="../static/thumbs_up.png" alt="Daumen runter" width="22" height="22"
							style="transform: rotate(180deg);">
					</button>
				</p>
				
			</div>
			<div id="userInput">
				<input id="textInput" type="text" name="msg" placeholder="Sende eine Nachricht"/>

				<div id="buttonBox">
					<button id="sendMessageB">Senden</button>
					<button id="stopStreamingB">Stop</button>
					<button id="sendFeedbackB" onClick="(function(){sendFeedbackText();})();">Feedback senden</button>
					<button id="downloadChatlogB" onClick="(function(){download_chatlog();})();">Chatverlauf herunterladen</button>
				</div>
			</div>
		</div>
	</main>

	<script src="../static/socket.io.js"></script>
	<script src="../static/marked.js"></script>
	<script src="../static/web-widget.js"></script>
	<script src="../static/purify.min.js"></script>

	<script>
		// Customize the script via setting up the variables
		enableFeedbackButtons = false;
		minimalistic_design = true;
		botId = "Webster";

		introText["de"] = "Hallo! Ich bin Webster. Ich bin die neue Suchfunktion für die Vorlesungen von Web-Technologien. Du kannst beliebige Anfragen stellen, also z.B. längere Fragen oder Aussagen oder einfach nur Schlüsselwörter. Ich versuche dann deine Frage zu beantworten und herauszufinden, in welcher Vorlesung und auf welcher Folie deine Anfrage zu finden ist 🙂. Ich kann auch einfache Aufgaben zu ausgewählten Themen erstellen. Wenn du Verbesserungsvorschläge oder Feedback zu mir hast, kannst du mir das gerne schreiben!";
    	introText["en"] = "Hello! I'm Webster. I can help you with questions about the course Web-Technologies 🙂. If you have suggestions or feedback for me, feel free to write!";
		setup_website();

		customFormatMetadata = function formatMetadata(answer) {
			let result = "";
			if (locale === "de") {
				result += "<br>Mehr erfährst du hier:\n"
			} else {
				result += "<br>Here you can find out more:\n"
			}
			result += "<ul style='background-color: #ffd7b4;'>";
			// 			<ul>
			// 	<li>HTML</li>
			// 	<li>CSS</li>
			// 	<li>JavaScript</li>
			// </ul>
			for (let m of JSON.parse(answer)) {
				let item = "";
				// item += m["url"]+" "
				// item += m["Vorlesung"]+" "
				// item += m["Seite"]+" "
				// item += m["KNN-Distanz"]+" "
				// // item += escape(m["Inhalt"])+" "
				// item += m["Inhalt"]+" "

				item = "<a target=\"_blank\" href=\""+m["url"]+"\">"+m["Vorlesung"]+" S. "+m["Seite"]+" Folie: "+m["Titel"]+"</a>"
				result += "<li>"+item+"</li>"
				// Include content directly
				// result += "<li>"+item+" Inhalt:"+m["Inhalt"]+"</li>"
				// Include content escaped
				// result += " Distanz: " +m["KNN-Distanz"]
				// result += " Inhalt: "+m["Inhalt"].replace(/</g, "&lt").replace(/>/g, "&gt")
			}
			result += "</ul>";
			return result;
		}
	</script>
</body>

</html>